/* --------- GENERAL --------- */

$yellow-linear: linear-gradient(to right, #f2c84ce6, #f2984ae6);
$blue-linear: linear-gradient(to right, #f2fcfe, #1c92d2);
$pink-linear: linear-gradient(to right, #f2fcfe, #e27482);
$light-blue: #f2fcfe;
$blue: #1c92d2;
$light-pink: #ffdde1;
$pink: #e27482;
$orange: rgba(242, 152, 74, 0.9);
$grey: #272727;

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Send+Flowers&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lazy-img {
  filter: blur(20px);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
  transform: scale(1.07, 1.05) skewX(-15deg);
  border-radius: 5px;
  background-image: $yellow-linear;
}
.section {
  transition: transform 1s, opacity 1s;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* ----------- HEADER ----------- */

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  background: $yellow-linear;
  padding: 0 10rem 0 2rem;
  font-family: 'Send Flowers', sans-serif;

  &.sticky {
    position: fixed;
    width: 100%;
    animation: 0.7s ease appears;
    z-index: 3;
  }

  #svg-container {
    height: 100%;
    width: 20vw;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  #links {
    @include flexCenter();
    gap: 7rem;
    font-size: 4rem;

    a {
      padding: 1.5rem;
      color: white;
      transition: all 0.5s ease;

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.33);
        color: $blue;
      }
    }
  }
}

/* ----------- MAIN ----------- */

#main {
  margin-top: 10rem;
  /* HOME */

  #home {
    padding: 10vh 5vw;
    @include flexCenter();

    #home-content {
      display: flex;
      position: relative;
      background-color: $light-blue;
      z-index: -2;
      padding: 10%;
      border-radius: 1% 33% 50% 50%;

      span {
        color: $light-blue;
      }

      img {
        height: 40rem;
        max-width: 60rem;
        border-radius: 3px;
      }

      .column-wrapper {
        margin-left: 3.3rem;
        text-align: center;
        max-width: 40%;
        height: 40rem;
        text-overflow: ellipsis;
      }

      h2 {
        font-family: 'Fredericka the Great', sans-serif;
        font-size: 4rem;
        height: 7rem;
        color: $orange;
        margin-bottom: 1rem;
      }

      p {
        font-family: 'Indie Flower', sans-serif;
        font-size: 3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
      }
    }
  }

  /* PROJECTS */
  #projects {
    margin-top: 5rem;
    height: 120rem;
    position: relative;

    #projects-title {
      @include flexCenter();
      padding: 5vh 10vw;
      height: 25rem;
      width: 100%;
      background-color: $pink;

      // &::before {
      //   content: '';
      //   width: 10%;
      //   height: 25%;
      //   position: absolute;
      //   border-radius: 50%;
      //   left: 2rem;
      //   top: -15rem;
      //   background-color: white;
      // }

      q {
        font-family: 'Send Flowers', sans-serif;
        font-size: 4rem;
        color: white;
      }
    }

    #projects-content {
      margin-top: 10rem;
      padding: 10vh;

      hr {
        background-color: $pink;
        border: none;
        width: 3px;

        height: 33rem;
      }

      ul {
        @include flexCenter();
        flex-wrap: wrap;
        column-gap: 10rem;

        li {
          video {
            border: 3px solid $grey;
            border-radius: 5px;
            height: 200px;
            max-width: 400px;
            transition: all ease 0.3s;

            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
          }

          .row-wrapper {
            margin-top: 3rem;
            width: 100%;
            @include flexCenter();
            gap: 5rem;

            a {
              position: relative;

              &.github {
                &:hover::before {
                  content: 'Lien GitHub';
                  color: white;
                  font-size: 15px;
                  background-color: rgba(0, 0, 0, 0.653);
                  @include flexCenter();
                  height: 4rem;
                  width: 8.5rem;
                  position: absolute;
                  left: -11rem;
                  top: 1rem;
                }
              }

              &.netlify {
                &:hover::after {
                  content: "Démo de l'application";
                  color: white;
                  font-size: 15px;
                  background-color: rgba(0, 0, 0, 0.653);
                  @include flexCenter();
                  height: 4rem;
                  width: 15rem;
                  position: absolute;
                  left: 9rem;
                  top: 1rem;
                }
              }
            }

            img {
              background-color: white;
              padding: 5px;
              border: 2px solid $orange;
              border-radius: 50%;
              height: 6rem;
              width: 6rem;
            }
          }
        }
      }
    }
  }

  /* CONTACT */
  #waves-1,
  #waves-2 {
    aspect-ratio: 960/50;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  #waves-1 {
    background-image: url('../images/waves-1.svg');
  }
  #waves-2 {
    transform: scaleY(-1);
    background-image: url('../images/waves-2.svg');
  }

  #contact {
    height: 70rem;
    // margin-top: 10rem;
  }
}

/* ----------- ANIMATIONS ----------- */

@keyframes appears {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
