/* --------- GENERAL --------- */

$blue: #1c92d2;
$orange: #ffa25c;
$orange-faded: rgb(255, 162, 92, 0.9);
$dark: #202020;
$grey: #353535;
$light-grey: #bebebe;

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Send+Flowers&display=swap&family=Comfortaa:wght@300;500;700&amily=Sora:wght@100;300;500;700&display=swap&family=Roboto:wght@100;300;500;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Indie+Flower&family=Manrope:wght@200;400;700&family=Oxygen:wght@300;400;700&family=Sora:wght@100;300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lazy-img {
  filter: blur(20px);
}

.section {
  transition: transform 1s, opacity 1s;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.active {
  transform: rotate(-90deg);
}

.hidden {
  display: none !important;
}

.show {
  display: flex;
}
/* ----------- SIDEBAR OVERLAY ----------- */

.hidden {
  top: -100vh !important;
}

#side-bar {
  @include flexColumn();
  justify-content: center;
  position: relative;
  gap: 7vh;
  font-size: 3rem;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $orange-faded;
  animation: 0.5s ease overlay-appears;
  transition: top 0.5s;
  z-index: 3;

  .bi {
    position: absolute;
    top: 10rem;
    right: 3rem;
    color: black;

    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }

  a {
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;

    &:hover {
      color: black;
      text-shadow: 1px 1px 1px white;
    }
  }
}

/* ----------- HEADER ----------- */

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vh;
  font-family: 'Sora', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  border-bottom: 2px solid $light-grey;

  .header-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &.sticky {
    position: fixed;
    width: 100%;
    animation: 0.7s ease section-appears;
    z-index: 100000;
  }

  #name {
    margin-left: 3.3rem;
    font-size: 3.3rem;
    font-weight: 700;

    span {
      font-family: 'Times New Roman', Times, serif;
      color: $orange;
    }

    &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }

  #links {
    display: flex;
    justify-content: space-around;
    margin-right: 15vw;
    gap: 5rem;

    .nav--active {
      border-bottom: 2px solid $orange;
    }

    a {
      font-size: 2rem;
      font-weight: 500;
      color: black;
      transition: all 0.5s ease;

      &:hover {
        cursor: pointer;
        color: $orange;
      }
    }
  }
  i {
    display: none;
  }
}

/* ----------- MAIN ----------- */

#main {
  /* HOME */

  #home {
    margin-top: 10vh;
    @include flexCenter();

    #home-content {
      display: flex;
      position: relative;
      font-family: 'Sora', sans-serif;

      img {
        height: 100%;
        width: 100%;
      }

      .half-home {
        width: 60%;
      }

      .quarter-home {
        border-right: 2px solid $light-grey;
        width: 40%;
      }

      .column-wrapper {
        display: flex;
        flex-direction: column;
        margin: 10rem;
        width: 70%;

        img {
          margin-left: auto;
          height: 125px;
          width: 125px;
        }

        p {
          margin-top: 10rem;
          font-size: 2.5rem;
          color: $grey;
          line-height: 1.5;

          a {
            color: $orange;

            &:hover {
              cursor: pointer !important;
            }
          }
        }

        .wrapper {
          display: flex;
          justify-content: space-around;
          font-size: 3.3rem;
          font-weight: 700;

          p {
            margin-top: 5rem;

            a {
              color: $orange;
              position: relative;
              top: 5px;
              font-size: 4rem;
            }
          }
        }
      }

      .welcome-infinite {
        animation: 2s ease infinite welcome-infinite;
      }

      h2 {
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 2.5vh;
        color: $orange;

        .highlights {
          display: inline-block;
        }

        .welcome {
          animation: 0.5s ease-in welcome-appears;
        }
      }

      h1 {
        margin-top: 2rem;
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.5;
        span {
          font-weight: 700;
        }
      }

      p {
        font-size: 3rem;
      }
    }
  }

  /* PROJECTS */
  #projects {
    position: relative;

    #projects-title {
      @include flexCenter();
      padding: 5vh 10vw;
      height: 23rem;
      width: 100%;
      background-color: $grey;

      p {
        font-family: 'Sora', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        color: white;
      }
    }

    #projects-content {
      margin-top: 5%;
      padding: 10vh;

      ul {
        @include flexCenter();
        flex-wrap: wrap;
        column-gap: 10rem;

        li {
          margin-bottom: 5rem;

          #memory {
            box-shadow: #54768b 0px 22px 70px 4px;
          }
          #shoepify {
            box-shadow: #dee2f5 0px 22px 70px 4px;
          }
          #weather {
            box-shadow: #73a3e5 0px 22px 70px 4px;
          }
          #todo {
            box-shadow: #78c5c3 0px 22px 70px 4px;
          }

          video {
            border-radius: 5px;
            height: 500px;
            width: 850px;
            transition: all ease 0.3s;
            object-fit: fill;

            &:hover {
              cursor: pointer;
            }
          }

          .row-wrapper {
            margin-top: 5%;
            width: 100%;
            @include flexCenter();

            p {
              font-family: 'Sora', sans-serif;
              font-size: 1.5rem;
              color: $grey;
            }

            a {
              margin: 0 2rem;
              position: relative;
            }

            img {
              background-color: white;
              padding: 5px;
              border: 2px solid $grey;
              border-radius: 50%;
              height: 50px;
              width: 50px;
            }
          }
        }
      }
    }
  }

  /* CONTACT */
  #about {
    background-color: $grey;

    #skills-set {
      min-height: 70vh;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10vw;
      padding: 10vh;
      font-family: 'Sora', sans-serif;

      img {
        height: 33px;
        width: 33px;
        position: relative;
        top: 10px;
        margin-right: 1rem;
      }

      h1 {
        font-weight: 500;
        text-align: center;
        font-size: 3rem;
        color: white;
        background-color: $orange;
        padding: 1.5rem;
        border-radius: 33px;
        margin-bottom: 3rem;
        max-width: 30vw;
      }

      .bold {
        font-weight: bold;
        margin: 1rem;
      }
      #skills,
      #setup {
        p {
          position: relative;
          color: white;
        }

        img {
          position: absolute;
          top: -1rem;
          left: -5rem;
        }
      }

      #skills {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 2rem;
        max-width: 33vw;
      }

      #setup {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 2rem;
      }
    }

    #contact {
      @include flexCenter();
      gap: 5vw;
      max-height: 70rem;
      padding: 15vh 10vw;
      background-image: url('../images/fond-contact.png');
      background-position: 60% 50%;
      background-size: 40%;
      background-repeat: no-repeat;
      font-size: 2rem;
      color: white;
      font-family: 'Sora', sans-serif;

      h2 {
        position: relative;
        bottom: 5vh;
        font-size: 4rem;
        font-weight: 500;
      }

      // margin-top: 10rem;

      img {
        height: 400px;
        width: 600px;
        border-radius: 3% 50% 3% 33%;
      }

      #text {
        max-width: 33rem;

        #infos {
          span {
            text-transform: uppercase;
            font-weight: 500;
            color: $dark;
          }

          p {
            margin-top: 1rem;
          }

          p,
          a {
            color: white;
          }
        }
      }
    }
  }
}

/* ----------- MEDIA QUERIES ----------- */

@media screen and (max-width: 1280px) {
  #main {
    #about #contact {
      background-size: 50%;
    }
  }
}

@media (max-width: 1160px) {
  #main #home #home-content {
    .quarter-home {
      width: 50%;
    }
    .half-home {
      img {
        height: 100px;
        width: 100px;
      }
      h1 {
        font-size: 3rem;
      }
    }

    .column-wrapper {
      p {
        font-size: 2rem;
      }
    }
  }
  #main #projects #projects-title {
    p {
      font-size: 2rem;
    }
  }

  #main #projects #projects-content ul li {
    margin-bottom: 10rem;
    video {
      height: 450px;
      width: 750px;
    }
  }

  #main #about #contact {
    background-size: 100%;
  }

  #main #about #skills-set {
    #skills,
    #setup {
      font-size: 2rem;
    }
    h1 {
      font-size: 2rem;
      padding: 1rem;
    }
  }

  #main #about #contact {
    img {
      width: 500px;
      height: 350px;
    }

    background-size: 50%;

    h2 {
      font-size: 3.3rem;
    }

    #text #infos {
      p {
        font-size: 1.75rem;
      }
      span {
        font-size: 1.75rem;
      }
    }
  }
}

@media (max-width: 960px) {
  header #links {
    margin-right: 5vw;
    a {
      font-size: 1.75rem;
    }
  }

  #main {
    #home #home-content {
      .half-home {
        width: 50%;
        img {
          height: 80px;
          width: 80px;
        }
        h1 {
          font-size: 2.5rem;
        }
      }

      .column-wrapper {
        p {
          font-size: 1.75rem;
        }

        .wrapper p {
          font-size: 2rem;
        }
      }

      h2 {
        font-size: 2.5rem;
      }
    }

    #projects {
      #projects-title p {
        font-size: 1.9rem;
      }
    }

    #projects #projects-content ul li {
      margin-bottom: 7.5rem;
      video {
        height: 400px;
        width: 650px;
      }
    }

    #about {
      #contact {
        background-size: 60%;
      }
      #skills-set {
        @include flexColumn();
        align-items: center;

        & h1 {
          font-size: 2.5rem;
          padding: 1.25vw;
        }
      }
    }
  }
}

@media screen and (max-width: 810px) {
  #main #home #home-content .half-home {
    padding-right: 1rem;
    img {
      height: 70px;
      width: 70px;
    }
    h1 {
      font-size: 2.25rem;
    }

    .column-wrapper {
      p {
        font-size: 1.75rem;
      }
      .wrapper {
        a {
          font-size: 3.3rem;
        }
      }
    }
  }

  #main #about {
    #contact {
      background-size: 60%;

      img {
        width: 450px;
        height: 300px;
      }
    }
    #skills-set {
      @include flexColumn();
      align-items: center;
      & h1 {
        font-size: 2rem;
        padding: 1.25vw;
      }
      #setup h1 {
        margin-left: 5rem;
      }
      #skills p,
      #setup p {
        font-size: 1.75rem;
      }
    }
  }
}

@media (max-width: 700px) {
  header {
    #name {
      font-size: 2.5rem;
    }
    #links {
      a {
        font-size: 1.25rem;
      }
    }
  }

  #main #home #home-content .half-home {
    padding-right: 2rem;

    .column-wrapper {
      p {
        font-size: 1.5rem;
      }
      .wrapper {
        p {
          margin-left: 1rem;
        }
        a {
          font-size: 3.3rem;
        }
      }
    }
  }

  #main {
    #home #home-content {
      p {
        font-size: 1.75rem;
      }

      h2 {
        font-size: 2.25rem;
      }
    }

    #projects #projects-title p {
      font-size: 1.75rem;
    }

    #projects #projects-content ul li {
      margin-bottom: 7.5rem;
      video {
        height: 300px;
        width: 450px;
      }
    }

    #projects #projects-content ul li .row-wrapper img {
      height: 45px;
      width: 45px;
    }

    #about #skills-set {
      & h1 {
        font-size: 2rem;
      }

      & #skills,
      & #setup {
        font-size: 1.5rem;
      }
    }

    #about #contact {
      font-size: 1rem;
      & h2 {
        font-size: 2.25rem;
      }

      img {
        width: 320px;
        height: 300px;
      }
    }
  }
}

@media (max-width: 580px) {
  header #links {
    a {
      display: none;
    }

    i {
      display: block;
      color: black;
      font-size: 3rem;
      margin-right: 5vw;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        color: $orange;
      }
    }
  }

  #main #home #home-content .half-home {
    padding-right: 1rem;
    img {
      height: 50px;
      width: 50px;
    }
    h1 {
      font-size: 2rem;
    }

    .column-wrapper {
      margin: 5rem;
      width: 50%;
      p {
        font-size: 1.5rem;
      }
      .wrapper {
        a {
          font-size: 3.3rem;
        }
      }
    }
  }

  #main #about #contact {
    img {
      width: 250px;
      height: 250px;
    }

    background-size: 70%;

    h2 {
      font-size: 2.5rem;
    }

    #text #infos {
      p {
        font-size: 1.5rem;
      }
      span {
        font-size: 1.75rem;
      }
    }
  }
}

@media (max-width: 490px) {
  #main {
    #home #home-content {
      p {
        font-size: 1.25rem;
      }

      h2 {
        font-size: 1.75rem;
      }
    }

    #projects {
      #projects-title p {
        font-size: 1.5rem;
      }
    }

    #projects #projects-content ul li {
      margin-bottom: 7.5rem;
      video {
        height: 300px;
        width: 400px;
      }
    }

    #about #skills-set {
      #skills {
        max-width: 50vw;
      }
      h1 {
        max-width: 50vw;
        padding: 1rem 2rem;
      }
    }

    #about #contact {
      & h2 {
        position: static;
      }
      background-size: 70%;
    }
  }
}
@media (max-width: 450px) {
  #main #about #contact {
    img {
      visibility: hidden;
    }

    #text {
      position: relative;
      right: 100px;
    }
  }
}

@media (max-width: 400px) {
  #side-bar {
    font-size: 2.25rem;
    z-index: 10000;
  }

  #main #home #home-content .quarter-home {
    width: 0%;
    img {
      height: 500px;
      width: 300px;
      position: absolute;
      right: 0px;
      border-radius: 1px 1px 1px 60%;
    }
  }

  #main #home #home-content .half-home {
    width: 100%;
    margin-left: 5rem;
    padding-right: 1rem;
    z-index: 1000;
    h2 {
      font-size: 1.75rem;
      text-shadow: 0.5px 0.5px 0.5px white;
    }
    img {
      margin-top: 1rem;
      height: 50px;
      width: 50px;
    }
    h1 {
      font-size: 2rem;
      color: white;
      text-shadow: 1px 1px 1px black;
    }

    .column-wrapper {
      margin: 5rem;
      width: 50%;
      p {
        margin-top: 15rem;
        font-size: 1.5rem;
      }
      .wrapper {
        margin-top: -10rem;
        a {
          font-size: 3.3rem;
        }
      }
    }
  }
  #main #projects #projects-content ul li {
    margin-bottom: 10rem;
    video {
      height: 200px;
      width: 300px;
    }
  }
  #main #about #skills-set #skills p {
    font-size: 1.5rem;
  }

  #main #about #skills-set #setup {
    margin-left: 2rem;

    p {
      font-size: 1.5rem;
    }

    h1 {
      margin-left: 2rem;
    }
  }

  #main #about #contact {
    background-size: 70%;

    h2 {
      font-size: 2.5rem;
    }

    #text #infos {
      p {
        font-size: 1.5rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
  }
}
/* ----------- ANIMATIONS ----------- */

@keyframes section-appears {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes overlay-appears {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes overlay-disappears {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}

@keyframes welcome-appears {
  0% {
    transform: translateY(-500%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes welcome-infinite {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
